.scf-center {
    padding-top: 100px;
}

.scf-green {
    background-color: #05e64d;
}

.scf-nfo {
    margin-bottom: 20px;
    background-color: #FF5500;
    padding: 10px 20px;
    i {
        color: #622100;
        padding: 0 0;
    }
    span {
        color: white;
        padding: 0 10px;
    }
}
